<html>

  <head>
    <%- include('partials/head.ejs')  %> 
    <link rel="stylesheet" href="/css/styles_productCart.css">
    <link rel="stylesheet" href="/css/search_bar.css">
  </head>


  <body>
    <header class="headerCart__Cart">
      <%- include('partials/header.ejs')  %>  
      <%- include('partials/search_bar')  %>  
    </header>


  




    <section>
      <article>

        <div class="mainCart__Cart">
          <div class="contRankingGames__Cart">


            
            <table class="tableRankingGames__Cart" border ="10px">
            
            <tbody>
              
              <td class="styleTable__productCart">Rank</td>
                <td class="styleTable__productCart">UnderGames</td>
                <td class="styleTable__productCart">Platform</td>
                <td class="styleTable__productCart">Price</td>
              <% for(let i=0; i < 5; i++) { %>
                <tr>
                  <td class="styleTable__productCart">
                    <%= data_games3[i].id %>
                  </td>
                  <td class="styleTableProductCart1">
                    <a href="/productDetail/<%= data_games3[i].id%> "target="_blank"><%= data_games3[i].title %><i class="btn-icon fa-solid fa-arrow-right"></i></a>
                    
                  </td>
                  <td class="styleTable__productCart2">
                    <%= data_games3[i].platform %>
                  </td>
                  <td class="styleTable__productCart">
                    <%= data_games3[i].price_w_discount %>
                  </td>
                </tr>
                <% } %>
            </tbody>
                  </table>
          </div>
          <div class="contMainSumary__Cart">
            <div class="contSumary__Cart">

              <table class="tableSumary__Cart" border ="10px">
                <tr>
                  <td>
                    Sumary Cart
                  </td>
                  <td>
                    Price
                  </td>
                </tr>

                <tr>
                  <td>
                    Title 1
                  </td>
                  <td>
                    200US$
                  </td>

                </tr>
                <td>
                  Title 2
                </td>
                <td>
                  100US$
                </td>

                <tr>
                </tr>

                <td>
                  Title 3
                </td>
                <td>
                  180US$
                </td>

                <!-- <tr>
                  <td>
                    Game
                  </td>
                  <td>
                    120US$
                  </td>

                </tr> -->
                <tr>
                  <td>
                    Subt Total
                  </td>
                  <td>
                    480US$
                  </td>

                </tr>
                <tr>
                  <td>
                    Discounts
                  </td>
                  <td>
                    200US$
                  </td>

                </tr>
                <tr>
                  <td>
                    Total
                  </td>
                  <td>
                    280US$
                  </td>

                </tr>

              </table><br>
              <div class="paymentsBtnCardCart"><a href="/under_constr" target="#" class="paymentBtn__Cart">Check Out</a></div>
            </div>


          </div>


          <div class="gamesCard__Cart">

            <div class="containerCardGames__Cart">
              <div class="containerTitleImg__Cart">
                <div class="contItem2__Cart">
                  <p class="infoCardVarios__Cart">Title 1</p>
                </div>
                <div class="img_Card_cart"><img src="https://fondosmil.com/fondo/13133.jpg"></div>

              </div>
              <div class="containerInfoCard__Cart">

                <div class="info1Card__Cart">
                  <p class="infoCardVarios__Cart">Windows</p><br>
                  <p class="infoCardVarios__Cart">Multiplayer</p><br>
                  <p class="infoCardVarios__Cart">+18</p><br>
                  <div class="detailsBtnCard__Cart"><a href="/under_constr" class="btnCard__Cart">Details</a></div>


                </div>

                <div class="info2Card__Cart">
                  <p class="infoCardVarios__Cart">$200</p><br>
                  <p class="infoCardVarios__Cart">50% OFF</p><br>
                  <p class="infoCardVarios__Cart">$100</p><br>
                  <div class="removeBtn__Cart"><a href="/under_constr" class="btnCard__Cart">Remove</a></div>
                </div>


              </div>

            </div>
            <div class="containerCardGames__Cart">
              <div class="containerTitleImg__Cart">
                <div class="contItem2__Cart">
                  <p class="infoCardVarios__Cart">Title 2</p>
                </div>
                <div class="img_Card_cart"><img src="https://fondosmil.com/fondo/3550.jpg"></div>

              </div>
              <div class="containerInfoCard__Cart">

                <div class="info1Card__Cart">
                  <p class="infoCardVarios__Cart">Ps 4</p><br>
                  <p class="infoCardVarios__Cart">Multiplayer</p><br>
                  <p class="infoCardVarios__Cart">+16</p><br>
                  <div class="detailsBtnCard__Cart"><a href="/under_constr" class="btnCard__Cart">Details</a></div>


                </div>

                <div class="info2Card__Cart">
                  <p class="infoCardVarios__Cart">$100</p><br>
                  <p class="infoCardVarios__Cart">10% OFF</p><br>
                  <p class="infoCardVarios__Cart">$90</p><br>
                  <div class="removeBtn__Cart"><a href="/under_constr" class="btnCard__Cart">Remove</a></div>
                </div>


              </div>

            </div>
            <div class="containerCardGames__Cart">
              <div class="containerTitleImg__Cart">
                <div class="contItem2__Cart">
                  <p class="infoCardVarios__Cart">Title 3</p>
                </div>
                <div class="img_Card_cart"><img src="https://as01.epimg.net/meristation/imagenes/2018/07/17/noticias/1531847115_399598_1531847301_noticia_normal.jpg"></div>

              </div>
              <div class="containerInfoCard__Cart">

                <div class="info1Card__Cart">
                  <p class="infoCardVarios__Cart">Windows</p><br>
                  <p class="infoCardVarios__Cart">Multiplayer</p><br>
                  <p class="infoCardVarios__Cart">+12</p><br>
                  <div class="detailsBtnCard__Cart"><a href="/under_constr" class="btnCard__Cart">Details</a></div>


                </div>

                <div class="info2Card__Cart">
                  <p class="infoCardVarios__Cart">$180</p><br>
                  <p class="infoCardVarios__Cart">50% OFF</p><br>
                  <p class="infoCardVarios__Cart">$90</p><br>
                  <div class="removeBtn__Cart"><a href="/under_constr" class="btnCard__Cart">Remove</a></div>
                </div>


              </div>

            </div>
          

          </div>

        </div>


      </article>








    </section>
    <footer>
      <%- include('partials/footer.ejs')  %> 
  </footer>
  </body>
  

</html>
