<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs')  %> 
    <link rel="stylesheet" href="/css/style_create.css">
    <link rel="stylesheet" href="/css/search_bar.css">
    <script src="https://kit.fontawesome.com/d2152a5308.js" crossorigin="anonymous"></script>
  </head>
 
<body class="bodyCreate">
      <header>
        <%- include('../partials/header.ejs')  %> 
      </header>
    
  <div class="formCreate__create">
    <h3 class="title__create">Upload Games</h3>
    <form class="form" method="POST" action="/admin/create" enctype="multipart/form-data">
        <br>
        <div class="errors">
          <ul>
            
          </ul>
        </div>
        <div class="contTxtCreate__create">
          <div class="con1__create">
            <h3 class="Image_Upload__Create">Image upload</h3>
            <input class="textArea__Create" type="file" name="img_1" placeholder="image 1"  accept= ".jpg, .jpeg .png" value="" /> 
            <small id="img_1" class="text-danger__Create"></small>
            <% if(locals.errors && errors.img_1){ %>
              <p class="tableAdmin_Error"><%= errors.img_1.msg %> </p>
            <% } %>
        


      
            <input class="textArea__Create" type="file" name="img_2" placeholder="image 2" accept= ".jpg, .jpeg .png"  value="" /> 
            <small  id="img_2" class="text-danger__Create"></small>
            <% if(locals.errors && errors.img_2){ %>
              <p class="tableAdmin_Error"><%= errors.img_2.msg  %>  </p>
            <% } %> 
     



            <input class="textArea__Create" type="file" name="img_3" placeholder="image 3" accept= ".jpg, .jpeg .png"  value="" />  
            <small id="img_3" class="text-danger__Create"></small>
            <% if(locals.errors && errors.img_3){ %>
              <p class="tableAdmin_Error"><%= errors.img_3.msg  %> </p>
            <% } %>
            


            <input class="textArea__Create" type="file" name="img_4" placeholder="image 4" accept= ".jpg, .jpeg .png"  value="" /> 
            <small  id="img_4" class="text-danger__Create"></small>
            <% if(locals.errors && errors.img_4){ %>
              <p class="tableAdmin_Error"><%= errors.img_4.msg  %> </p>
            <% } %>
            


            <input class="textArea__Create" type="file" name="img_5" placeholder="image 5" accept= ".jpg, .jpeg .png"  value="" /> 
            <small id="img_5" class="text-danger__Create"></small>
            <% if(locals.errors && errors.img_5){ %>
              <p class="tableAdmin_Error"><%= errors.img_5.msg  %>  </p>
            <% } %>
            

          </div>
          
          <div class="con2__create">
            <h3 class="title__Description__Create">Description</h3>
            <label class="combo-form_titles_create " for="title">Title</label>
          <input class="textArea__Create" type="text" name="title" placeholder="Title" value="<%= locals.oldData ? locals.oldData.title : null %>"/>
          <small id="title" class="text-danger__Create"></small>
          <% if(locals.errors && errors.title){ %>
            <p class="tableAdmin_Error"><%= errors.title.msg %> </p>
          <% } %>

          
     



     
          <label class="combo-form_titles_create" for="one_word_descr">One Word Description</label>
          <input class="textArea__Create  " type="text" name="one_word_descr" placeholder="One Word Description" 
          value="<%= locals.oldData ? locals.oldData.one_word_descr : null%>"/>
          <small id="oneWord" class="text-danger__Create"></small>
          <% if(locals.errors && errors.one_word_descr){ %>
            <p class="tableAdmin_Error"><%= errors.one_word_descr.msg  %>  </p>
          <% } %> 

        
          
          



        <label class="combo-form_titles_create" for="short_desc">Short Description</label>
        <textarea   minlength="20" maxlength="100" class="textArea2__Create_shortDesc" type="text" name="short_descr" rows="4" cols="40" placeholder="Please write a description from 20 to 100 words"><%= locals.oldData ? locals.oldData.short_descr : null %></textarea>
        <div id="the-count__Create_shortDesc">
          <span id="minimum_shortDesc"></span>
          <span id="current_shortDesc">0</span>
          <span>/</span>
          <span id="maximum_shortDesc">100</span>
        </div> 
        <small id="shortDesc" class="text-danger__Create"></small>
        <% if(locals.errors && errors.short_descr){ %>
          <p class="tableAdmin_Error"><%= errors.short_descr.msg%></p>
        <% } %>
 

        


 
        <label class="combo-form_titles_create" for="long_desc">Long Description</label>
        <textarea   minlength="100" maxlength="300" class="textArea2__Create" type="text" name="long_descr" rows="8" cols="40" placeholder="Please write a description from 100 to 300 words"><%= locals.oldData ? locals.oldData.long_descr : null %></textarea>
        <div id="the-count__Create">
          <span id="minimum"></span>
          <span id="current">0</span>
          <span>/</span>
          <span id="maximum">300</span>
        </div> 
        <small id="longDesc" class="text-danger__Create"></small>
        <% if(locals.errors && errors.long_descr){ %>
          <p class="tableAdmin_Error"><%= errors.long_descr.msg%></p>
        <% } %>
   
        
        <label class="combo-form_titles_create" for="game_group">Game Group</label>
        <% if(locals.oldData){ %> 
          <select name="game_group" class="textArea__Create " > 
            <option value="" disabled selected>  Game Group </option>
              <% allGameGroups.forEach(game_group => { %>
              <option  <% if (game_group.id_game_group == locals.oldData.game_group) { %><%= 'selected' %><% }; %>  value="<%= game_group.id_game_group %>"><%= game_group.game_group %></option>
              <% }) %>
            </select>
        <%  } else { %> 
          <select name="game_group" class="textArea__Create " > 
            <option value="" disabled selected>  Game Group </option>
              <% allGameGroups.forEach(game_group => { %>
              <option value="<%= game_group.id_game_group %>"><%= game_group.game_group %></option>
              <% }) %>
            </select>
        <% } %> 
        <small id="gameGroup" class="text-danger__Create"></small>
        <% if(locals.errors && errors.game_group){ %>
          <p class="tableAdmin_Error"><%= errors.game_group.msg  %>  </p>
        <% } %> 
        

        <label class="combo-form_titles_create" for="category">Category</label>
        <% if(locals.oldData){ %> 
          <select name="category" class="textArea__Create " > 
            <option value="" disabled selected>  Category </option>
              <% allCategories.forEach(category => { %>
              <option  <% if (category.id_category == locals.oldData.category) { %><%= 'selected' %><% }; %>  value="<%= category.id_category %>"><%= category.category %></option>
              <% }) %>
            </select>
        <%  } else { %> 
          <select name="category" class="textArea__Create " > 
            <option value="" disabled selected>  Category </option>
              <% allCategories.forEach(category => { %>
              <option value="<%= category.id_category %>"><%= category.category %></option>
              <% }) %>
            </select>
        <% } %> 
        <small id="category" class="text-danger__Create"></small>
        <% if(locals.errors && errors.category){ %>
          <p class="tableAdmin_Error"><%= errors.category.msg  %></p>
        <% } %> 
        

        <label class="combo-form_titles_create" for="original_price">Price</label>
          <input class="textArea__Create" type="text" name="original_price" placeholder="Original Price" value="<%= locals.oldData ? locals.oldData.original_price : null%>"/>
          <% if(locals.errors && errors.original_price){ %>
            <p class="tableAdmin_Error"><%= errors.original_price.msg  %>  </p>
          <% } %>
          


          
        <label class="combo-form_titles_create" for="discount">Discount</label>
          <input class="textArea__Create" type="text" name="discount" placeholder="Discount" value="<%= locals.oldData ? locals.oldData.discount : null%>"/>
          <% if(locals.errors && errors.discount){ %>
            <p class="tableAdmin_Error"><%= errors.discount.msg  %>  </p>
          <% } %>
          

        <label class="combo-form_titles_create" for="video_1">Youtube Video</label>
          <input class="textArea__Create " type="text" name="video_1" placeholder="Youtube URL" value="<%= locals.oldData ? locals.oldData.video_1 : null%>"/> 
          <small id="youtube" class="text-danger__Create"></small>
          <% if(locals.errors && errors.video_1){ %>
            <p class="tableAdmin_Error"><%= errors.video_1.msg  %>  </p>
          <% } %>
          </div> 

    <div class="con3__create">
    <h3 class="title__Requirements__Create">Requirements</h3>
          <label class="combo-form_titles_create" for="launch_date">Launch Date</label>
            <input class="textArea__Create" type="date" name="launch_date" placeholder="Launch Date" value="<%= locals.oldData ? locals.oldData.launch_date : null%>"/>
           <small id="launchDate" class="text-danger__Create reqs"></small> 
            <% if(locals.errors && errors.launch_date){ %>
              <p class="tableAdmin_Error"><%= errors.launch_date.msg  %>  </p>
            <% } %>
            

            <label class="combo-form_titles_create" for="platform">Platform</label>
            <% if(locals.oldData){ %> 
              <select name="platform" class="textArea__Create" > 
                <option value="" disabled selected>  Choose Platform </option>
                  <% allPlatforms.forEach(platform => { %>
                  <option  <% if (platform.id_platforms == locals.oldData.platform) { %><%= 'selected' %><% }; %>  value="<%= platform.id_platforms %>"><%= platform.platform_descr %></option>
                  <% }) %>
                </select>
            <%  } else { %> 
              <select name="platform" class="textArea__Create" > 
                <option value="" disabled selected>  Platform </option>
                  <% allPlatforms.forEach(platform => { %>
                  <option value="<%= platform.id_platforms %>"><%= platform.platform_descr %></option>
                  <% }) %>
                </select>
            <% } %> 
         <small id="platform" class="text-danger__Create reqs"></small> 
            <% if(locals.errors && errors.platform){ %>
              <p class="tableAdmin_Error"><%= errors.platform.msg  %></p>
            <% } %> 
            

    
            <label class="combo-form_titles_create" for="os_min">OS Minimum Requirements</label>
            <% if(locals.oldData){ %> 
              <select name="os_min" class="textArea__Create" > 
                <option value="" disabled selected>  Minimum Requirements</option>
                  <% allOsmin.forEach(os_min => { %>
                  <option  <% if (os_min.id_os_min == locals.oldData.os_min) { %><%= 'selected' %><% }; %>  value="<%= os_min.id_os_min %>"><%= os_min.os_min %></option>
                  <% }) %>
                </select>
            <%  } else { %> 
              <select name="os_min" class="textArea__Create" > 
                <option value="" disabled selected>  OS Minimum Requirements</option>
                  <% allOsmin.forEach(os_min => { %>
                  <option value="<%= os_min.id_os_min %>"><%= os_min.os_min %></option>
                  <% }) %>
                </select>
            <% } %> 
            <small id="osMin" class="text-danger__Create reqs"></small> 
            <% if(locals.errors && errors.os_min){ %>
              <p class="tableAdmin_Error"><%= errors.os_min.msg  %></p>
            <% } %> 
            

            <label class="combo-form_titles_create" for="os_rec">Recommended OS</label>
            <% if(locals.oldData){ %> 
              <select name="os_rec" class="textArea__Create" > 
                <option value="" disabled selected>Recommended Requirements</option>
                  <% allOsrec.forEach(os_rec => { %>
                  <option  <% if (os_rec.id_os_rec == locals.oldData.os_rec) { %><%= 'selected' %><% }; %>  value="<%= os_rec.id_os_rec %>"><%= os_rec.os_rec %></option>
                  <% }) %>
                </select>
            <%  } else { %> 
              <select name="os_rec" class="textArea__Create" > 
                <option value="" disabled selected>   Recommended OS</option>
                  <% allOsrec.forEach(os_rec => { %>
                  <option value="<%= os_rec.id_os_rec %>"><%= os_rec.os_rec %></option>
                  <% }) %>
                </select>
            <% } %> 
           <small id="osRec" class="text-danger__Create reqs"></small> 
            <% if(locals.errors && errors.os_rec){ %>
              <p class="tableAdmin_Error"><%= errors.os_rec.msg  %></p>
            <% } %> 
            


            <label class="combo-form_titles_create" for="processor_min">Minimum Processor</label>
            <% if(locals.oldData){ %> 
              <select name="processor_min" class="textArea__Create" > 
                <option value="" disabled selected>  Minimum Requirements</option>
                  <% allProcessormin.forEach(processor_min => { %>
                  <option  <% if (processor_min.id_processor_min == locals.oldData.processor_min) { %><%= 'selected' %><% }; %>  value="<%= processor_min.id_processor_min %>"><%= processor_min.processor_min %></option>
                  <% }) %>
                </select>
            <%  } else { %> 
              <select name="processor_min" class="textArea__Create" > 
                <option value="" disabled selected>  Minimum Processor</option>
                  <% allProcessormin.forEach(processor_min => { %>
                  <option value="<%= processor_min.id_processor_min %>"><%= processor_min.processor_min %></option>
                  <% }) %>
                </select>
            <% } %> 
            <small id="processorMin" class="text-danger__Create reqs"></small> 
            <% if(locals.errors && errors.processor_min){ %>
              <p class="tableAdmin_Error"><%= errors.processor_min.msg  %></p>
            <% } %> 
            

          <label class="combo-form_titles_create" for="processor_rec">Recommended Processor</label>
          <% if(locals.oldData){ %> 
            <select name="processor_rec" class="textArea__Create" > 
              <option value="" disabled selected>  Minimum Requirements</option>
                <% allProcessorec.forEach(processor_rec => { %>
                <option  <% if (processor_rec.id_processor_rec == locals.oldData.processor_rec) { %><%= 'selected' %><% }; %>  value="<%= processor_rec.id_processor_rec %>"><%= processor_rec.processor_rec %></option>
                <% }) %>
              </select>
          <%  } else { %> 
            <select name="processor_rec" class="textArea__Create" > 
              <option value="" disabled selected>  Recommended Processor</option>
                <% allProcessorec.forEach(processor_rec => { %>
                <option value="<%= processor_rec.id_processor_rec %>"><%= processor_rec.processor_rec %></option>
                <% }) %>
              </select>
          <% } %>
         <small id="processoRec" class="text-danger__Create reqs"></small>
          <% if(locals.errors && errors.processor_rec){ %>
            <p class="tableAdmin_Error"><%= errors.processor_rec.msg  %></p>
          <% } %> 

          <label class="combo-form_titles_create" for="storage_min">Minimum Storage</label>
          <% if(locals.oldData){ %> 
            <select name="storage_min" class="textArea__Create" > 
            <option value="" disabled selected>  Minimum Requirements</option>
              <% allStoragemin.forEach(storage_min => { %>
              <option  <% if (storage_min.id_storage_min == locals.oldData.storage_min) { %><%= 'selected' %><% }; %>  value="<%= storage_min.id_storage_min %>"><%= storage_min.storage_min %></option>
              <% }) %>
            </select>
          <%  } else { %> 
            <select name="storage_min" class="textArea__Create" > 
            <option value="" disabled selected>Minimum Storage</option>
              <% allStoragemin.forEach(storage_min => { %>
              <option value="<%= storage_min.id_storage_min %>"><%= storage_min.storage_min %></option>
              <% }) %>
            </select>
          <% } %> 
         <small id="storageMin" class="text-danger__Create reqs"></small> 
          <% if(locals.errors && errors.storage_min){ %>
            <p class="tableAdmin_Error"><%= errors.storage_min.msg  %></p>
          <% } %> 
        
          


          
      
          <label class="combo-form_titles_create" for="storage_rec">Recommended Storage</label>
          <% if(locals.oldData){ %> 
            <select name="storage_rec" class="textArea__Create" > 
            <option value="" disabled selected>  Minimum Requirements</option>
              <% allStoragerec.forEach(storage_rec => { %>
              <option  <% if (storage_rec.id_storage_rec == locals.oldData.storage_rec) { %><%= 'selected' %><% }; %>  value="<%= storage_rec.id_storage_rec %>"><%= storage_rec.storage_rec %></option>
              <% }) %>
            </select>
          <%  } else { %> 
            <select name="storage_rec" class="textArea__Create" > 
            <option value="" disabled selected>  Recommended Storage</option>
              <% allStoragerec.forEach(storage_rec => { %>
              <option value="<%= storage_rec.id_storage_rec %>"><%= storage_rec.storage_rec %></option>
              <% }) %>
            </select>
          <% } %> 
         <small id="storageRec" class="text-danger__Create reqs"></small> 
          <% if(locals.errors && errors.storage_rec){ %>
            <p class="tableAdmin_Error"><%= errors.storage_rec.msg  %></p>
          <% } %> 
          


          


          <label class="combo-form_titles_create" for="graphics_min">Minimum Graphics</label>
          <% if(locals.oldData){ %> 
            <select name="graphics_min" class="textArea__Create" > 
            <option value="" disabled selected> Minimum Requirements</option>
              <% allGraphicsmin.forEach(graphics_min => { %>
              <option  <% if (graphics_min.id_graphics_min == locals.oldData.graphics_min) { %><%= 'selected' %><% }; %>  value="<%= graphics_min.id_graphics_min %>"><%= graphics_min.graphics_min %></option>
              <% }) %>
            </select>
          <%  } else { %> 
            <select name="graphics_min" class="textArea__Create" > 
            <option value="" disabled selected>Minimum Graphics</option>
              <% allGraphicsmin.forEach(graphics_min => { %>
              <option value="<%= graphics_min.id_graphics_min %>"><%= graphics_min.graphics_min %></option>
              <% }) %>
            </select>
          <% } %> 
         <small id="graphicsMin" class="text-danger__Create reqs"></small>
          <% if(locals.errors && errors.graphics_min){ %>
            <p class="tableAdmin_Error"><%= errors.graphics_min.msg  %></p>
          <% } %> 
          




            
         <label class="combo-form_titles_create" for="graphics_rec">Graphics Recommended </label>
          <% if(locals.oldData){ %> 
            <select name="graphics_rec" class="textArea__Create" > 
            <option value="" disabled selected>Recommended Requirements</option>
              <% allGraphicsrec.forEach(graphics_rec => { %>
              <option  <% if (graphics_rec.id_graphics_rec == locals.oldData.graphics_rec) { %><%= 'selected' %><% }; %>  value="<%= graphics_rec.id_graphics_rec %>"><%= graphics_rec.graphics_rec %></option>
              <% }) %>
            </select>
          <%  } else { %> 
            <select name="graphics_rec" class="textArea__Create" > 
            <option value="" disabled selected>  Graphics Recommended </option>
              <% allGraphicsrec.forEach(graphics_rec => { %>
              <option value="<%= graphics_rec.id_graphics_rec %>"><%= graphics_rec.graphics_rec %></option>
              <% }) %>
            </select>
          <% } %> 
          <small id="graphicsRec" class="text-danger__Create reqs"></small>
          <% if(locals.errors && errors.graphics_rec){ %>
            <p class="tableAdmin_Error"><%= errors.graphics_rec.msg  %></p>
          <% } %>  
   
          
        </div>
        
        </div>
            <button class="btn__create" type="submit">Add Game</button>
        </div>
    </form>
  </div>
    
  <footer class="footerCreate">
    <%- include('../partials/footer.ejs')  %> 
</footer>
<script src="/js/textAreaCounters.js"></script>
<script src="/js/productsFrontValidate.js"></script>  
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>



</html>
