<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../partials/head.ejs')  %> 
    </head>
 
        
        
<body id="body_profile">
	<header>
		<%- include ('../partials/header.ejs')  %>  
		<link rel="stylesheet" href="/css/profile.css">
	</header> 
	
	<!-- Container -->
	<div class="container" style="margin-top: 40px;">
		<div class="row">
			<div class="col-md-3">
				<div>
				<h2 class="userName">Welcome <%= user.name %> </h2> 
				</div>
				<div class="divProfImgGt">
				<img class="profileImg" src="/images/avatars/<%= user.avatar %> " >
				<p class="gamertag"><%= user.gamertag %></p>
				</div>
				<div class="divItems">
				<div class="divItemPencil">
				<li><a href="/users/edit/<%= user.id_users%> " class="fa-solid fa-pencil fa-xl" alt="Edit"></a></li>
				<p>Edit user</p>
				</div>
				<div class="divItemCan">
				<li><a href="/users/delete/<%= user.id_users%>" class="fa-solid fa-trash-can  fa-xl" alt="Delete"></a></li>
				<p>Delete user</p>
				</div>
				</div>
				<br>
				<br>
				

				
				
			</div>
		</div>
	</div>
	<!-- //Container -->
	
	<footer  class="footer">
		<%- include ('../partials/footer.ejs')  %>  
	</footer>
</body>
</html>