<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head.ejs')  %> 
    </head>
    <body class="reg-body">
        
        <header>
            <%- include ('../partials/header.ejs')  %>  
            <link rel="stylesheet" href="/css/register.css">
        </header>   
        
        <main class="reg-main">
            <form method="POST" action="/users/register" enctype="multipart/form-data" class= "register-form" >

                <h3 id="reg-h3">Registrate!</h3>
                <div class="errors">
                    <ul>
                    </ul>
                </div>

                <div class="form-ns-styler-register">
                    <input type="text" name="name" id="name" placeholder="Nombre" required
                    class="form-control  <%= locals.errors && errors.name ? 'is-invalid' : null %>" 
                    value="<%= locals.oldData ? oldData.name : null %>"
                    > <!--validar nombre clase del CSS form-control-->
                    <% if (locals.errors && errors.name) { %>
                        <div class="text-danger">   <!--agregar esta clase al CSS??-->
                            <%= errors.name.msg %> 
                        </div>
                    <% } %>
                    <input type="text" name="surname" id="surname" placeholder="Apellido" required
                    class="form-control  <%= locals.errors && errors.surname ? 'is-invalid' : null %>" 
                    value="<%= locals.oldData ? oldData.surname : null %>"
                    > <!--validar nombre clase del CSS form-control-->
                    <% if (locals.errors && errors.surname) { %>
                        <div class="text-danger">   <!--agregar esta clase al CSS?? -->
                            <%= errors.surname.msg %> 
                        </div>
                    <% } %>
                        
                </div>
                <div class="errorNameSurname">
                    <div class="div1">
                        <small class="lierror1" name="lierror1">Nombre no puede estar vacio</small>
                    </div>
                    <div class="div2">
                        <small class="lierror2" name="lierror2">Apellido no puede estar vacio</small>
                    </div>
                </div>
                <div class="form-styler-register">
                    <input type="email" name="email" id="email" placeholder="E-mail" required
                    class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                    value="<%= locals.oldData ? oldData.email : null %>"
                > <!--validar nombre clase del CSS form-control-->
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger"> <!--agregar esta clase al CSS?? -->
                        <%= errors.email.msg %>
                    </div>
                <% } %>                    
                </div>
                <div class="errorMail">
                    <small class="smallEmailError" name="smallEmailError">Email no puede estar vacio</small>
                </div>
                <!--seguiremos teniendo gamertag? de ser asi, se valida? -->
                <div class="form-styler-register">
                    <input type="text" name="gamertag" id="gamertag" placeholder="Gamertag" required>
                </div>
                <div class="errorGamerTag">
                    <small class="smallGamerTagError" name="smallGamerTagError">Gamertag no puede estar vacio</small>
                </div>
                <div class="form-styler-register">
                    <input type="password" name="password" id="password" placeholder="Contraseña" required
                    class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>"
                    > <!--validar nombre clase del CSS form-control-->
                    <% if (locals.errors && errors.password) { %>
                        <div class="text-danger"> <!--agregar esta clase al CSS?? -->
                            <%= errors.password.msg %>
                        </div>
                    <% } %>    
                    
                </div>
                <div class="errorPassword">
                    <small class="smallErrorPassword" name="smallErrorPassword">Password no puede estar vacio</small><br>
                    <small class="smallErrorPassword2" name="smallErrorPassword2">Password no puede ser menor a 6 digitos</small><br>
                    <small class="smallErrorPassword3" name="smallErrorPassword3">passwords deben ser iguales</small>
                </div>
                <!--falta validar que password y repeted passwords sean iguales-->
                <div class="form-styler-register">
                    <input type="password" name="repeted-password" id="repeted-password" placeholder="Repetir contraseña" required>
                </div>

                <div class="errorPassword">
                    <small class="smallErrorPassword4" name="smallErrorPassword4">Repeted Password no puede estar vacio</small><br>
                    <small class="smallErrorPassword5" name="smallErrorPassword5">Repeted Password no puede ser menor a 6 digitos</small><br>
                    <small class="smallErrorPassword6" name="smallErrorPassword6">passwords deben ser iguales</small>
                </div>

                <div class="form-styler-register">
                    <label id="reg-img-prof-txt"><b>Imagen de perfil:</b></label>
                    <br>  <!--validar formato y diseño-->
                    <input 
                        id="upload-img-btn"
                        type="file" 
                        name="avatar"
                        class="form-control imgRegister"<%= locals.errors && errors.avatar ? 'is-invalid' : null %>" required
                        
                    ><!--validar nombre clase del CSS form-control-->
                    <% if (locals.errors && errors.avatar) { %>
                        <div class="text-danger"> <!--agregar esta clase al CSS?? -->
                            <%= errors.avatar.msg %>
                           
                        </div>
                        
                    <% } %>                    
                </div>
                <small class="errorImgReg"name="errorImgReg">Debe seleccionar Imagen formato JPG</small>                
                
                <input type="submit" value= "Registrate" id= "reg-button" >
                <div class="news-styler-register">
                    <input type="checkbox" name="news" id="news">
                    <label id="reg-lbl" for="news">Do you want to receive news from UnderGames?</label>
                </div>
                
                <div class="tos-styler-register">
                   <input type="checkbox" name="tos" id="tos" required>
                 <label id="tos-lbl" for="tos">  <p> I have read and agree to  <a class="a-reg" href="/terms-of-service">Terms of service</a></p></label>
                </div>

                </form>

        </main>

        <footer>
            <%- include ('../partials/footer.ejs')  %>
            <script src="/js/userValidateRegister.js"></script>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>    
        </footer>
    </body>
</html>

